.httr-oauth
.Rproj.user
.RData
.Rhistory
/R_sources
/__pycache__
/backup
/backup_urls
ghostdriver.log
hist_jsons.png
hist_ratings.png
hist_tweets.png
models_evals.log
paper-jorge-schellman.pdf
plan-tentativo.ods
protect_profiles_counter.py
table_prf.png
test.py
test.txt
/tmp
twitter_project.sublime-workspace
x-interacs_renamer.py
x-interacs_renamer2.py
x-titles_similarities.py
z.txt

1087223381
TwitterRatings/books_distribution_sampled.txt
TwitterRatings/x_users_interactions (copy UNRENAMED)/
TwitterRatings/x_users_interactions/
TwitterRatings/title_mapping.txt
